<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Ayman Index HomePage</title>
</head>
<body>

    <div class="flex-container">
        <ul>
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="#">Movies</a></li>
            <li class="nav-item"><a href="#">Tv Series</a></li>
            <li class="nav-item"><a href="#">Most Popular</a></li>
            <li class="nav-item"><a href="#">Top Airing</a></li>
        </ul>
    </div>

    <section class="hero">
        <div class="hero-container">
            <div class="search-container">
                <div class="logo-holder">
                    <img src="/images/logo.png" alt="HiAnime Logo">
                </div>
                <div class="home-search">
                    <input type="text" class="form-control" name="search" id="" placeholder="Search anime...">
                    <div class="search-icon btn-search"><i class="fa fa-search"></i></div>
                </div>
                <div class="someText">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, repellendus similique! Tempore ipsam suscipit aperiam commodi recusandae, possimus eum itaque.</p>
                </div>

                <div class="action-btn">
                    <a class="btn btn-lg btn-radius btn-primary" href="#">Watch anime <i class="fas fa-arrow-circle-right ml-4"></i></a>
                </div>
            </div>
            <div class="hero-img-holder">
                <div class="image-overlay"></div>
                <img src="/images/hero.png" alt="Heroes Images">
            </div>
        </div>
    </section>
    
</body>
</html>