body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #201f31;
    color: #fff;
    height: 100vh;
    line-height: 1.5;
}



header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.text-end button{
    background-color: pink;
    color: black;
    border: none;
}

.slide-cover-img{
    width: 100%;
    height: 85vh;
    background-color: 201f31;
    position: relative;
    /* overflow: hidden; */
    inset: 0 0 0 0;
    
}

.cover-image {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0%;
    right: 0%;
    overflow: hidden;

    
}
.cover-image img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.cover-image::before {
    content: '';
    position: absolute;
    inset : -1% -1% -1% -1%;
    background: radial-gradient(transparent, rgb(32, 31, 49) 70%, rgb(32, 31, 49) 85%, rgb(32, 31, 49) 100%);
    filter: blur(2px);
    
}


.spotlight{
    width: 50%;
    height: 60%;
    position: absolute;
    left: 0%;
    bottom: 10%;
}

.spotlight-index{
    margin-left: 50px;
    width: calc(100% - 50px);
    height: 30px;
    margin-bottom: 15px;
}

.spotlight-index p {
    color: pink;
    text-align: start;
}

.anime-title{
    margin-left: 50px;
    width: calc(100% - 50px);
    height: 100px;
    margin-bottom: 15px;
    font-weight: 600;
}

.anime-title p{
    color: #fff;
    font-size: 36px;
    letter-spacing: 1px;
    text-align: start;
    line-height: 1.3;
}

.anime-details{
    margin-left: 50px;
    width: calc(100% - 50px);
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.anime-details div{
    padding: 2px;
    margin: 0px 10px;
    align-content: center;
}


.anime-description{
    margin-left: 50px;
    width: calc(100% - 50px);
    height: 80px;
    margin-bottom: 15px;
}

.hero-action{
    margin-left: 50px;
    width: calc(100% - 50px);
    position: absolute;
    bottom: 0;
}

.hero-action a{
    margin: 0px 5px;
    border-radius: 20px;
}

.hero-action a i {
    padding-top: 5px;
    padding-bottom: 5px;
}

.swiper-container{
    position: relative;
}

.spotlight-scroller{
    width: 40px;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 1;
}

.myNext,
.myPrevious{
    width: 100% ;
    height: 40px ;
    background-color: rgba(225, 217, 217, 0.167) ;
    text-align: center ;
    align-content: center ;
    border: none;
    border-radius: 5px ;
    margin: 4px 0px ;
    font-size: 20px ;
    cursor: pointer ;
    color: #fff ;
    transition: ease-out 150ms;
    
}

.myNext:hover,
.myPrevious:hover{
    background-color: pink;
    color: #000;
}


.quality{
    background-color: pink;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
}





/* Begin Trending */